In [1]:
import pandas as pd
import numpy as np

In [2]:
Location=r'movies_raw_data.xlsx'
df = pd.read_excel(Location)

In [3]:
Location2=r'imdb_rating.xls'
df2= pd.read_excel(Location2)

In [4]:
df.head()

,Number,Rank,Title,Studio,Worldwide,Domestic,Dome_perc,Overseas,Over_perc,Year,...,release_date,genre,runtime,mpaa,budget,opening_weekend,duration,director,actors,theater
0,1,1,Avatar,Fox,2788.0,760.5,0.273,2027.5,0.727,2009^,...,"December 18, 2009",Sci-Fi Adventure,2 hrs. 40 min.,PG-13,NaN,"$77,025,481",238 days / 34 weeks,James Cameron,Sam WorthingtonZoe SaldanaSigourney WeaverMich...,"3,461"
1,2,2,Titanic,Par.,2186.8,658.7,0.301,1528.1,0.699,1997^,...,"December 19, 1997",Romance,3 hrs. 14 min.,PG-13,$200 million,"$2,186,772,302",NaN,NaN,NaN,NaN
2,3,3,Star Wars: The Force Awakens,BV,2042.5,923.7,0.452,1118.8,0.548,2015,...,"December 18, 2015",Sci-Fi Fantasy,2 hrs. 16 min.,PG-13,$200 million,"$2,048,044,884",NaN,NaN,NaN,NaN
3,4,4,Jurassic World,Uni.,1670.4,652.3,0.390,1018.1,0.610,2015,...,"June 12, 2015",Sci-Fi Horror,2 hrs. 4 min.,PG-13,$150 million,"$1,670,400,637",NaN,NaN,NaN,NaN
4,5,5,Marvel's The Avengers,BV,1519.6,623.4,0.410,896.2,0.590,2012,...,"May 4, 2012",Action / Adventure,2 hrs. 22 min.,PG-13,$220 million,"$207,438,708",154 days / 22 weeks,Joss Whedon,"Robert Downey, Jr.Chris HemsworthChris EvansJe...","4,349"

In [5]:
df2.head()

,Number,Rank,Title,Studio,Worldwide,Domestic,Dome_perc,Overseas,Over_perc,Year,Rating,Imdb_id
0,1,1,Avatar,Fox,2788.0,760.5,0.273,2027.5,0.727,2009^,7.9,tt0499549
1,2,2,Titanic,Par.,2186.8,658.7,0.301,1528.1,0.699,1997^,7.7,tt0120338
2,3,3,Star Wars: The Force Awakens,BV,2042.5,923.7,0.452,1118.8,0.548,2015,8.4,tt2488496
3,4,4,Jurassic World,Uni.,1670.4,652.3,0.390,1018.1,0.610,2015,7.1,tt0369610
4,5,5,Marvel's The Avengers,BV,1519.6,623.4,0.410,896.2,0.590,2012,8.1,tt0848228

# Prepare Data

In [6]:
df['Studio'].unique()

array(['Fox', 'Par.', 'BV', 'Uni.', 'WB', 'P/DW', 'NL', 'Sony', 'WB (NL)',
       'DW', 'LGF', 'LG/S', 'Sum.', 'NM', 'TriS', 'MGM', 'Wein.', 'Orion',
       'FR', 'FoxS', 'IFC', 'Mira.', 'Col.', 'UA', 'SGem', 'SonR', 'RKO',
       'W/Dim.', 'Gram.', 'Art.', nan, 'Rela.', 'Lions', 'Dim.', 'Dis.',
       'Vest', 'SPC', 'USA'], dtype=object)

In [7]:

df['rating']=df2['Rating']
df.head()

,Number,Rank,Title,Studio,Worldwide,Domestic,Dome_perc,Overseas,Over_perc,Year,...,genre,runtime,mpaa,budget,opening_weekend,duration,director,actors,theater,rating
0,1,1,Avatar,Fox,2788.0,760.5,0.273,2027.5,0.727,2009^,...,Sci-Fi Adventure,2 hrs. 40 min.,PG-13,NaN,"$77,025,481",238 days / 34 weeks,James Cameron,Sam WorthingtonZoe SaldanaSigourney WeaverMich...,"3,461",7.9
1,2,2,Titanic,Par.,2186.8,658.7,0.301,1528.1,0.699,1997^,...,Romance,3 hrs. 14 min.,PG-13,$200 million,"$2,186,772,302",NaN,NaN,NaN,NaN,7.7
2,3,3,Star Wars: The Force Awakens,BV,2042.5,923.7,0.452,1118.8,0.548,2015,...,Sci-Fi Fantasy,2 hrs. 16 min.,PG-13,$200 million,"$2,048,044,884",NaN,NaN,NaN,NaN,8.4
3,4,4,Jurassic World,Uni.,1670.4,652.3,0.390,1018.1,0.610,2015,...,Sci-Fi Horror,2 hrs. 4 min.,PG-13,$150 million,"$1,670,400,637",NaN,NaN,NaN,NaN,7.1
4,5,5,Marvel's The Avengers,BV,1519.6,623.4,0.410,896.2,0.590,2012,...,Action / Adventure,2 hrs. 22 min.,PG-13,$220 million,"$207,438,708",154 days / 22 weeks,Joss Whedon,"Robert Downey, Jr.Chris HemsworthChris EvansJe...","4,349",8.1

In [8]:
del df['Dome_perc']
del df['Over_perc']
del df['url']
df.head()

,Number,Rank,Title,Studio,Worldwide,Domestic,Overseas,Year,release_date,genre,runtime,mpaa,budget,opening_weekend,duration,director,actors,theater,rating
0,1,1,Avatar,Fox,2788.0,760.5,2027.5,2009^,"December 18, 2009",Sci-Fi Adventure,2 hrs. 40 min.,PG-13,NaN,"$77,025,481",238 days / 34 weeks,James Cameron,Sam WorthingtonZoe SaldanaSigourney WeaverMich...,"3,461",7.9
1,2,2,Titanic,Par.,2186.8,658.7,1528.1,1997^,"December 19, 1997",Romance,3 hrs. 14 min.,PG-13,$200 million,"$2,186,772,302",NaN,NaN,NaN,NaN,7.7
2,3,3,Star Wars: The Force Awakens,BV,2042.5,923.7,1118.8,2015,"December 18, 2015",Sci-Fi Fantasy,2 hrs. 16 min.,PG-13,$200 million,"$2,048,044,884",NaN,NaN,NaN,NaN,8.4
3,4,4,Jurassic World,Uni.,1670.4,652.3,1018.1,2015,"June 12, 2015",Sci-Fi Horror,2 hrs. 4 min.,PG-13,$150 million,"$1,670,400,637",NaN,NaN,NaN,NaN,7.1
4,5,5,Marvel's The Avengers,BV,1519.6,623.4,896.2,2012,"May 4, 2012",Action / Adventure,2 hrs. 22 min.,PG-13,$220 million,"$207,438,708",154 days / 22 weeks,Joss Whedon,"Robert Downey, Jr.Chris HemsworthChris EvansJe...","4,349",8.1

In [9]:
#df['opening_weekend'].convert_objects(convert_numeric=True)
df['opening_weekend']=df['opening_weekend'].str.replace(',','')
df['theater']=df['theater'].str.replace(',','')
df['actors']=df['actors'].str.replace(',','')

In [11]:
df.head()

,Number,Rank,Title,Studio,Worldwide,Domestic,Overseas,Year,release_date,genre,runtime,mpaa,budget,opening_weekend,duration,director,actors,theater,rating
0,1,1,Avatar,Fox,2788.0,760.5,2027.5,2009^,"December 18, 2009",Sci-Fi Adventure,2 hrs. 40 min.,PG-13,NaN,$77025481,238 days / 34 weeks,James Cameron,Sam WorthingtonZoe SaldanaSigourney WeaverMich...,3461,7.9
1,2,2,Titanic,Par.,2186.8,658.7,1528.1,1997^,"December 19, 1997",Romance,3 hrs. 14 min.,PG-13,$200 million,$2186772302,NaN,NaN,NaN,NaN,7.7
2,3,3,Star Wars: The Force Awakens,BV,2042.5,923.7,1118.8,2015,"December 18, 2015",Sci-Fi Fantasy,2 hrs. 16 min.,PG-13,$200 million,$2048044884,NaN,NaN,NaN,NaN,8.4
3,4,4,Jurassic World,Uni.,1670.4,652.3,1018.1,2015,"June 12, 2015",Sci-Fi Horror,2 hrs. 4 min.,PG-13,$150 million,$1670400637,NaN,NaN,NaN,NaN,7.1
4,5,5,Marvel's The Avengers,BV,1519.6,623.4,896.2,2012,"May 4, 2012",Action / Adventure,2 hrs. 22 min.,PG-13,$220 million,$207438708,154 days / 22 weeks,Joss Whedon,Robert Downey Jr.Chris HemsworthChris EvansJer...,4349,8.1

In [10]:
df['opening_weekend']=df['opening_weekend'].str.replace('$','')
df['Title']=df['Title'].str.replace(',','')
df['budget']=df['budget'].str.replace('$','')
df.head()

,Number,Rank,Title,Studio,Worldwide,Domestic,Overseas,Year,release_date,genre,runtime,mpaa,budget,opening_weekend,duration,director,actors,theater,rating
0,1,1,Avatar,Fox,2788.0,760.5,2027.5,2009^,"December 18, 2009",Sci-Fi Adventure,2 hrs. 40 min.,PG-13,NaN,77025481,238 days / 34 weeks,James Cameron,Sam WorthingtonZoe SaldanaSigourney WeaverMich...,3461,7.9
1,2,2,Titanic,Par.,2186.8,658.7,1528.1,1997^,"December 19, 1997",Romance,3 hrs. 14 min.,PG-13,200 million,2186772302,NaN,NaN,NaN,NaN,7.7
2,3,3,Star Wars: The Force Awakens,BV,2042.5,923.7,1118.8,2015,"December 18, 2015",Sci-Fi Fantasy,2 hrs. 16 min.,PG-13,200 million,2048044884,NaN,NaN,NaN,NaN,8.4
3,4,4,Jurassic World,Uni.,1670.4,652.3,1018.1,2015,"June 12, 2015",Sci-Fi Horror,2 hrs. 4 min.,PG-13,150 million,1670400637,NaN,NaN,NaN,NaN,7.1
4,5,5,Marvel's The Avengers,BV,1519.6,623.4,896.2,2012,"May 4, 2012",Action / Adventure,2 hrs. 22 min.,PG-13,220 million,207438708,154 days / 22 weeks,Joss Whedon,Robert Downey Jr.Chris HemsworthChris EvansJer...,4349,8.1

In [11]:
df['budget']=df['budget'].str.replace('million','')

In [12]:
df.to_csv('undo_data.txt', index=False)
print('Done')

Done

# Clean data

Clean data:
1. transfer opening_weekend, bugdet,data to millon level
2. split genre, actors and director names
3. change year, runtime,duration,release_date type

Missing data:
1. Director, actors,...
Categorical data:
1. Studio
2. Period
3. Genre 
4. mpaa